<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @white_elephant.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @white_elephant.string %>
</p>

<p>
  <strong>Countries visited:</strong>
  <%= @white_elephant.countries_visited %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @white_elephant.integer %>
</p>

<p>
  <strong>Country:</strong>
  <%= @white_elephant.country %>
</p>

<p>
  <strong>String:</strong>
  <%= @white_elephant.string %>
</p>

<%= link_to 'Edit', edit_white_elephant_path(@white_elephant) %> |
<%= link_to 'Back', white_elephants_path %>
